.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop-title {
    font-size: 100px;
/*     flex-grow: 1;
    order: 1;
    align-self: center; */
}