allow from all

<Files .htaccess>
    deny from all
</Files>

# Specify Brotli-encoded assets
<Files *.js.br>
    AddType "text/javascript" .br
    AddEncoding br .br
</Files>
<Files *.css.br>
    AddType "text/css" .br
    AddEncoding br .br
</Files>
<Files *.svg.br>
    AddType "image/svg+xml" .br
    AddEncoding br .br
</Files>
<Files *.html.br>
    AddType "text/html" .br
    AddEncoding br .br
</Files>
<Files *.ico.br>
    AddType "image/vnd.microsoft.icon" .br
    AddEncoding br .br
</Files>
<Files *.webp.br>
    AddType "image/webp" .br
    AddEncoding br .br
</Files>
<Files *.ttf.br>
    AddType "application/font-sfnt" .br
    AddEncoding br .br
</Files>
<Files *.eot.br>
    AddType "application/vnd.ms-fontobject" .br
    AddEncoding br .br
</Files>

<Files *.woff.br>
    AddType "font/woff" .br
    AddEncoding br .br
</Files>
<Files *.woff2.br>
    AddType "font/woff2" .br
    AddEncoding br .br
</Files>
<Files *.png.br>
    AddType "image/png" .br
    AddEncoding br .br
</Files>



# Specify gzip-encoded assets
<Files *.js.gz>
    AddType "text/javascript" .gz
    AddEncoding gz .gz
</Files>
<Files *.css.gz>
    AddType "text/css" .gz
    AddEncoding gz .gz
</Files>
<Files *.svg.gz>
    AddType "image/svg+xml" .gz
    AddEncoding gz .gz
</Files>
<Files *.html.gz>
    AddType "text/html" .gz
    AddEncoding gz .gz
</Files>
<Files *.ico.gz>
    AddType "image/vnd.microsoft.icon" .gz
    AddEncoding gz .gz
</Files>
<Files *.webp.gz>
    AddType "image/webp" .gz
    AddEncoding gz .gz
</Files>
<Files *.ttf.gz>
    AddType "application/font-sfnt" .gz
    AddEncoding gz .gz
</Files>
<Files *.eot.gz>
    AddType "application/vnd.ms-fontobject" .gz
    AddEncoding gz .gz
</Files>

<Files *.woff.gz>
    AddType "font/woff" .gz
    AddEncoding gz .gz
</Files>
<Files *.woff2.gz>
    AddType "font/woff2" .gz
    AddEncoding gz .gz
</Files>
<Files *.png.gz>
    AddType "image/png" .gz
    AddEncoding gz .gz
</Files>

# Turn on mod_rewrite
RewriteEngine On

# Serve pre-compressed Brotli assets
RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}.br -f
RewriteRule ^(.*)$ $1.br [L]

# Serve pre-compressed gzip assets
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [L]