/*! purgecss start ignore */
.main-content {
    margin-top: 100px;
}

.top-selling-products-content {
    margin-top: 40px;
}
.why-us-content {
    margin-top: 117px;
}
.animated-shop {
    margin-top: 40px;
    max-width: 100%;
}
.mobile-apps {
    margin-top: 40px;
    max-width: 100%;
}

@media (max-width: 992px) { 
    .main-content {
        margin-top: 30px;
    }

    .top-selling-products-content {
        margin-top: 10px;
    }
    .why-us-content {
        margin-top: 45px;
    }
    .animated-shop {
        margin-top: 10px;
    }
    .mobile-apps {
        margin-top: 10px;
        max-width: 100%;
    }
}

/*! purgecss end ignore */
