/*! purgecss start ignore */

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    /* border: 10px solid black; */
    width: 100%;
    min-width: 100%;
    margin-top: 100px;
    flex-wrap: nowrap;
}

.product-images {
    order: 1;
    align-self: flex-start;
    /* border: 10px solid blue; */
    width: 100%;
    flex-grow: 1;
}

.product-images-grid {
    display: grid;
    gap: 0;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.product-details {
    order: 2;
    align-self: flex-start;
    /* border: 10px solid green; */
    width: 100%;
    flex-grow: 1;
}

.product-image {
    /* border: 10px solid red; */
}

.main-image {
    /* border: 10px solid yellow; */
    margin: 10px auto 10px 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.images-thumbnails {
    /* border: 10px solid orange; */
    float: left;
    margin: 11px;
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.thumbnail {
    margin: 5px;
}

.radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-start;
}

.radio-button {
    margin: 5px;
}


/* start zoom */

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 4px solid rgba(255, 255, 255, 0.9);
    /*set the size of the lens:*/
    width: 140px;
    height: 140px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}

:root {
    --overlayTop: 0;
    --overlayLeft: 0;
    --overlayRight: 0;
    --overlayBottom: 0;
    --overlayWidth: 400px;
    --overlayHeight: 400px;
    --overlayMarginTop: auto;
    --overlayMarginBottom: auto;
    --overlayMarginRight: auto;
    --overlayMarginLeft: auto;
}

.overlay {
    margin: var(--overlayMarginTop) var(--overlayMarginRight) var(--overlayMarginBottom) var(--overlayMarginLeft) !important;
    width: var(--overlayWidth) !important;
    height: var(--overlayHeight) !important;
    position: absolute;
    background: #000;
    opacity: 0;
    left: var(--overlayLeft) !important;
    right: var(--overlayRight);
    top: var(--overlayTop);
    bottom: var(--overlayBottom);
    z-index: 2022;
    display: none;
    visibility: hidden;
    /* border-radius: 30px; */
    transition: opacity 0.4s linear, visibility 0.3s linear;
    filter: drop-shadow(0 0 0.9rem black);
}

.img-zoom-container:hover .overlay {
    display: block;
    opacity: 1;
    visibility: visible;
    /* border: 5px solid #fafafa; */
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.overlay:hover {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.img-zoom-container:hover {
    border: 5px solid #fb0000;
    /* border-radius: 30px; */
    width: fit-content;
}


/* .mainImg {
    border: 8px solid #fb0000;
} */


/* end zoom */


/* .img-thumbnails:hover {
    border: 4px solid #fb0000;
} */

.fa {
    font-size: 100px !important;
    /* padding: 29px; */
    color: #fb0000;
}

@media (max-width: 992px) {
    .container {
        display: grid;
        gap: 10px;
        grid-template-rows: 450px 1fr;
        grid-template-columns: 1fr;
    }
    .product-details {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .product-images {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    /* #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    #myImg:hover {
        opacity: 0.7;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 100%;
        max-width: 700px;
    }
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    } */
    .radio-group {
        flex-direction: column;
    }
    .img-zoom-lens {
        /*set the size of the lens:*/
        width: 90px;
        height: 900px;
    }
}


/*! purgecss end ignore */