<div class="container">
    <div class="product-images" style="margin: 0; padding: 0;">
        <div class="product-images-grid" style="margin: 0; padding: 0;">
            <!-- <div class="main-image" style="margin: 0; padding: 0;" *ngIf="mobile == true">
                <div style="all: unset;" *ngFor="let image of product.images">
                    <img style="margin: 0; padding: 0;" class="mainImg" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" id="myImg" [style.width.px]="mainImageWidth" src="{{image.src}}" *ngIf="image.position == showImageByPosition" />
                </div>
            </div> -->
            <div [style.width.px]="mainImageWidth" *ngIf="mobile == true">
                <swiper style="margin: 0; padding: 0;" [grabCursor]="true" [effect]="'creative'" [lazy]="true" [pagination]="{
                  clickable: true
                }" [zoom]="true" [slidesPerView]="1" [spaceBetween]="10" [loop]="true" [creativeEffect]="{
        prev: {
          shadow: true,
          translate: [0, 0, -400]
        },
        next: {
          translate: ['100%', 0, 0]
        }
      }" class="mySwiper">
                    <ng-template style="margin: 0; padding: 0;" swiperSlide *ngFor="let image of product.images">
                        <div class="swiper-zoom-container">
                            <img style="margin: 0; padding: 0;" class="mainImg" [style.width.px]="mainImageWidth" src="{{image.src}}" />
                        </div>
                    </ng-template>
                </swiper>
            </div>
            <div class="main-image" style="margin: 0; padding: 0;" *ngIf="mobile == false">
                <div class="img-zoom-container" *ngFor="let image of product?.images">
                    <img #imgZoom id="imgZoom{{showImageByPosition}}" [style.width.px]="mainImageWidth" class="product-img" src="{{image.src}}" *ngIf="image.position == showImageByPosition" (mouseenter)="zoomInProductDetails(imgZoom, imgZoomResult)" />
                    <img #imgZoomResult id="imgZoom{{showImageByPosition}}result" class="img-zoom-result overlay" />
                </div>
            </div>


            <div class="images-thumbnails" *ngIf="mobile == false">
                <div class="thumbnail" *ngFor="let image of product?.images" style="float: left;">
                    <img #imgThumbnail [ngStyle]="{border: image.position == 1 ? '4px solid #fb0000' : 'none'}" (mouseenter)="changeMainImg(image.position, imgThumbnail)" class="img-thumbnails" src="{{image.src}}" width="100px" height="100px" />
                </div>
            </div>
        </div>
    </div>
    <div class="product-details" style="padding-left: 10px; padding-right: 10px; font-weight: 900;">
        <h1>{{product?.name}}</h1>
        <!-- <h2 style="display: inline-block;">{{product.full_description}}</h2> -->
        <a style="text-decoration: solid; color: inherit;" (click)="showMoreLess()"><span style="text-decoration: none; color: black">{{tempFullDescription}}</span>{{moreLess}}</a>
        <div style="width: 100%; margin-left: 10px; margin-top: 90px;">
            <div *ngFor="let attribute of product?.attributes; let mainIndex = index;">

                <!-- if attribute is dropdownlist -->
                <div *ngIf="attribute.attribute_control_type_name == 'DropdownList'">
                    <mat-form-field appearance="fill" style="margin-top: 10px; width: 80%;">
                        <mat-label>{{attribute.product_attribute_name}}</mat-label>
                        <ng-container>
                            <mat-select (selectionChange)="addToCartItems('DropdownList', attribute.id, $event.value, $event)">
                                <mat-option *ngFor=" let attributeValue of attribute.attribute_values;" value="{{attributeValue.id}} ">{{attributeValue.name}}</mat-option>
                            </mat-select>
                        </ng-container>
                    </mat-form-field>
                </div>

                <!-- if attribute is radiobuttonlist -->
                <div *ngIf="attribute.attribute_control_type_name=='RadioList' ">
                    <label id="radio-group-label ">{{attribute.product_attribute_name}}</label>
                    <mat-radio-group aria-labelledby="radio-group-label " class="radio-group ">
                        <mat-radio-button (change)="addToCartItems('RadioList', attribute.id, attributeValue.id, $event)" class="radio-button " *ngFor="let attributeValue of attribute.attribute_values " [value]="attributeValue.id ">
                            {{attributeValue.name}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <!-- if attribute is ColorSquares -->
                <div #colorSquaresMainDiv *ngIf="attribute.attribute_control_type_name =='ColorSquares' ">
                    <label style="display: block; ">{{attribute.product_attribute_name}}</label>
                    <div (click)="colorSquares(i, colorSquaresMainDiv); addToCartItems('ColorSquares', attribute.id, attributeValue.id, $event)" *ngFor="let attributeValue of attribute.attribute_values; let i = index; " style="width: 50px; height: 50px; border-radius: 100%; border: none; margin: 5px; display:inline-block;
                            cursor: pointer; " [style.background-color]="attributeValue.color_squares_rgb ">
                    </div>

                </div>

                <!-- if attribute is ImageSquares -->
                <div *ngIf="attribute.attribute_control_type_name=='ImageSquares' ">
                    <label id="radio-group-label ">{{attribute.product_attribute_name}}</label>
                    <div #imageSquaresMainDiv style="all: unset;">
                        <img *ngFor="let attributeValue of attribute.attribute_values; let i = index;" (click)="imageSquares(i, imageSquaresMainDiv); addToCartItems('ImageSquares', attribute.id, attributeValue.id, $event)" style="width: 100px; height: 100px; border-radius: 10px; border: 1px solid #fb0000; margin: 5px; display:inline-block; "
                            src="{{attributeValue.image_squares_image.src}} " />
                    </div>
                </div>

            </div>
            <div>
                <mat-form-field class="quantity" appearance="outline">
                    <mat-label>Select Quantity</mat-label>
                    <input [(ngModel)]='addToCartItemsNumber' (ngModelChange)="addToMainCartItemsNumber()" style="width: 100px; margin-left: 10px; " matInput type="number " placeholder="Quantity " value="1 " min="1 ">
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="showErrorMessage" style="color: red; font-size: 27px; font-weight: 900;">
            Please fill all of the fields
        </div>

        <div class="page-wrapper " style="padding: 0px !important; ">
            <button id="addtocart " class="addtocart product-add-to-cart-button " (click)="addToCartAllItems()">
                Add To Basket
              <div style="font-family: 'Soria', serif; " class="cart-item "></div>
            </button>

            <button class="product-add-to-cart-button" (click)="addToWishList(product.id)" style="background-color: transparent; padding: 0px !important; width: fit-content !important; height: fit-content !important;">
                <i *ngIf="wishListYn(product?.id)" class="fa fa-heart" aria-hidden="true"></i>
                <i *ngIf="!wishListYn(product?.id)" class="fa fa-heart-o" aria-hidden="true"></i>
            </button>
        </div>

    </div>

</div>
<!--  The Modal 
<div id="myModal " class="modal " *ngIf="mobile " style="margin-top: 85px; z-index: 9999999999999; ">

     The Close Button 
    <span style="z-index: 999999999999; " class="close " (click)="modalClose() ">&times;</span>

     Modal Content (The Image) 
    <img #imgMobileSlider style="z-index: 999999999999; " class="modal-content " id="img01 " (click)="doubleTap($event) ">

     Modal Caption (Image Text) 
    <div id="caption "></div>
</div> -->