/*! purgecss start ignore */

:root {
    --matChipHeight: 50px;
}

@media (max-width: 992px) {
     :root {
        --matChipHeight: 50px;
    }
}

::ng-deep .mat-form-field-infix {
    padding: 0 !important;
}

::ng-deep .mat-form-field-wrapper {
    background: #fafafa;
    border-radius: 10px 30px 30px 10px;
    padding: 0 !important;
    margin: 0 !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    /* border: 10px solid green; */
}

.option-img {
    vertical-align: middle;
    margin-right: 50px !important;
    border-radius: 100% !important;
}

.mat-input-class {
    border-radius: 50px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 200px !important;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
    background-color: transparent;
}

.mp-sp {
    margin: 20px 0px 20px 20px;
    border-radius: 50px;
    color: black;
    background-color: transparent;
    font-size: 28px;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
    height: 200px !important;
}


/* .mat-option {
    margin: 20px 0px 20px 20px;
    border-radius: 50px;
    color: black;
    background-color: transparent;
    font-size: 28px;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
    height: 200px !important;
} */


/* .map-sp{
    max-height: 500px !important;
    border-radius: 50px !important;
} */

::ng-deep .mat-autocomplete-panel {
    max-height: 500px !important;
}

::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
    border-radius: 50px;
}

::ng-deep .mat-autocomplete-panel-above .mat-autocomplete-panel {
    border-radius: 50px !important;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0, 0, 0, 0.87);
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .mat-form-field-label {
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0, 0, 0, 0.17);
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep input.mat-input-element {
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

.img-div {
    all: unset;
}

::ng-deep .mat-standard-chip {
    font-size: 27px;
    background-color: #fafafa;
    height: var(--matChipHeight);
    border-radius: 100%;
    cursor: pointer;
}

::ng-deep .mat-form-field-label {
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 992px) {
    .mp-sp {
        margin: 0 !important;
        border-radius: 30px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 17px;
        font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
        height: 40px !important;
        overflow-x: scroll !important;
        overflow-y: scroll !important;
        padding: 0 !important;
    }
     ::ng-deep .mat-standard-chip {
        font-size: 17px;
    }
     ::ng-deep input.mat-input-element {
        padding: 0 !important;
        color: rgba(0, 0, 0, 0.87);
    }
     ::ng-deep .mat-form-field-label {
        font-size: inherit !important;
        color: rgba(0, 0, 0, 0.87);
    }
     ::ng-deep .mat-focused .mat-form-field-label {
        color: rgba(0, 0, 0, 0.87);
        font-size: inherit !important;
    }
    .form-input {
        background-color: transparent;
        border-radius: 30px;
    }
     ::ng-deep .mat-autocomplete-panel {
        max-height: 300px !important;
    }
    .option-img {
        margin-right: 30px !important;
        border-radius: 100% !important;
        height: 70px;
        width: 70px;
    }
     ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0 !important;
    }
     ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 0;
        margin: 0;
    }
     ::ng-deep .mat-standard-chip {
        font-size: 17px !important;
        background-color: floralwhite !important;
        height: var(--matChipHeight) !important;
        border-radius: 100% !important;
        min-height: var(--matChipHeight) !important;
    }
}


/*! purgecss end ignore */