<ngx-loading [show]="true" *ngIf="loadingService.isLoadingAsObservable | async" [config]="{
    backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }"></ngx-loading>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-header>

            </app-header>



            <div class="container-fluid p-0 m-0">
                <div class="row p-0 m-0">
                    <div class="col-12 p-0 m-0">
                        <div id="cart" class="cart" data-totalitems="0">

                            <a (click)="shoppingCart()" id="shoppingCard">
                                <div id="carrito" class="animElem elmActive">
                                    <div id="mango"></div>
                                    <div id="cesta"></div>
                                    <div id="ruedas"></div>
                                </div>
                                <div id="check" class="animElem"></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row p-0 m-0">
                    <div class="col-12 p-0 m-0">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <app-footer>

                        </app-footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>