<div class="container-fluid p-0 m-0 shop-content">
              <div class="row p-0 m-0">
                  <div class="col-12 p-0 m-0 ">
                    <section>
                      <div class="image" data-type="background" data-speed="2"></div>
                      <div class="stuff" data-type="content">
                        <app-shop-title></app-shop-title>
                      </div>
                    </section>
                    
                    <div style="width: 100%; margin-top: 20px !important; padding: 0px !important;">
                      <app-search-product (onSearchTearmPicked)="searchTearmPicked($event)"></app-search-product>
                    </div>
                    
                    
                    <div style="width: 100%; margin-top: 20px !important; padding: 0px !important;">
                      <app-search-categories (onCategoryPicked)="categoryPicked($event)"></app-search-categories>
                    </div>

                    <div style="width: 100%; margin-top: 20px !important; padding: 0px !important;">
                      <app-price-from-to (onPricePicked)="pricePicked($event)" [FromTo]="From" [productsPricing]="productPricing"></app-price-from-to>
                    </div>

                    <div style="width: 100%; margin-top: 0px !important; padding: 0px !important;">
                      <app-list-products [categoryIds]="categoryIds" [priceFromTo]="priceFromTo" [searchTearms]="searchTearms"></app-list-products>
                    </div>
                  </div>
              </div>