/*! purgecss start ignore */
.shop {

}
.shop-title {
    font-size: 100px;
/*     flex-grow: 1;
    order: 1;
    align-self: center; */
}

.shop-content {
    margin-top: 100px !important;
    max-width: 99vw;
}

@media (max-width: 992px) { 
    
    .shop-content {
        margin-top: 40px !important;
    }
}

/*! purgecss end ignore */
