/*! purgecss start ignore */
:root {
    --marginSizeChipSelectPanel: 100px;
    --matChipHeight: 100px;
}
@media (max-width: 992px) { 
    :root {
        --matChipHeight: 61px;
    }   
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .searchForm {
    margin-left: 50px;
    width: 95%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .option-img {
    vertical-align: middle;
    margin-right: 50px;
    border-radius: 100%;
  }

  .mat-input-class {
      border-radius: 50px;
  }

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 200px !important;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

.mat-select {
    background: transparent !important;
    min-height: var(--marginSizeChipSelectPanel) !important;
    border-radius: 50px !important;
}

.mat-form-field-underline {
    display: none;
}

input.mat-input-element {
    font-size: 28px;
    padding: 17px 17px !important;
}
.img-div {
    all: unset;
}
.mat-standard-chip {
    font-size: 27px;
    background-color: #fafafa;
    height: var(--matChipHeight);
    border-radius: 100%;
    cursor: pointer;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}


.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 30px 30px 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 30px 0 0 30px !important;
  }

  .mat-form-field-label {
  font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}



mat-form-field {
    width: 100%;
}

.selectPanel {
    margin-top: var(--marginSizeChipSelectPanel) !important;
    border-radius: 50px !important;
    max-width: 100% !important;
    min-width: 90% !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    min-height: 400px !important;
}

.hideOption {
   display: none !important;
}

.showOption {
    visibility: visible !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .option-img {
    vertical-align: middle;
    margin-right: 50px !important;
    border-radius: 100% !important;
  }

  .mat-input-class {
      border-radius: 50px;
  }

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 200px !important;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

.mat-option {
    margin: 20px 0px 20px 20px;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 28px !important;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
    height: 200px !important;
    max-width: 100% !important;
    min-width: 90% !important;
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0, 0, 0, 0.87);
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field.mat-focused .mat-form-field-label{ 
    color: rgba(0, 0, 0, 0.17);
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

input.mat-input-element {
    font-size: 34px;
    padding: 7px 7px !important;
    line-height: 37px;
}
.img-div {
    all: unset;
}
.mat-standard-chip {
    font-size: 37px;
    background-color: #fafafa;
    height: var(--matChipHeight);
    border-radius: 100%;
    cursor: pointer;
}

.mat-select-trigger {
    cursor: pointer;
    min-height: 100px !important;

  }

  .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background-color: #A5C73C;
    height: 50px !important;
    width: 50px !important;
    border-radius: 100% !important;
}

.mat-pseudo-checkbox {
    color: unset;
    height: 50px !important;
    width: 50px !important;
    border-radius: 100% !important;
}

.mat-pseudo-checkbox-checked::after {
    top: 4px !important;
    left: 1px !important;
    width: 34px !important;
    height: 16px !important;
    bottom: auto !important;
    right: auto !important;
    border-bottom: 5px solid !important;
    border-left: 5px solid !important;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: rgba(0, 0, 0, 0.87);;
  }

  @media (max-width: 992px) { 
    .mat-standard-chip {
        font-size: 17px !important;
        background-color: #fafafa !important;
        height: var(--matChipHeight) !important;
        border-radius: 100% !important;
        min-height: var(--matChipHeight) !important;
    }

    .mat-option {
        margin: 0 !important;
        border-radius: 50px;
        color: rgba(0, 0, 0, 0.7);
        background-color: transparent;
        font-size: 17px !important;
        font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
        height: 120px !important;
        max-width: 100% !important;
        min-width: 90% !important;
    }

    input.mat-input-element {
        font-size: 24px;
        padding: 14px 14px !important;
        font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0 !important;
      }

      .mat-form-field-appearance-outline .mat-form-field-flex {
        padding: 0;
        margin: 0;
      }

      .searchForm {
        margin-left: 14px;
        width: 90%;
          font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
      }

      .option-img {
        vertical-align: middle;
        margin-right: 50px;
        border-radius: 100%;
      }
  }
  /*! purgecss end ignore */