<form [formGroup]="checkoutForm" class="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstname">
        <mat-error *ngIf="firstnameFormControl.hasError('required')">
            First name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastname">
        <mat-error *ngIf="lastnameFormControl.hasError('required')">
            Last name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minPw}} characters</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" placeholder="Ex. Skopje" value="Skopje">
        <mat-error *ngIf="phoneFormControl.hasError('required')">
            Phone is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Search Nearest Location</mat-label>
        <input matInput type="text" style="background-color: transparent;" [(ngModel)]="formattedAddress" formControlName="address" class="form-control" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
            #search>
        <mat-error *ngIf="address.hasError('required')">
            Address is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>House Number</mat-label>
        <input matInput formControlName="house_number" placeholder="Ex. 42" value="42">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" [(ngModel)]="city" placeholder="Ex. Skopje" value="Skopje">
        <mat-error *ngIf="cityFormControl.hasError('required')">
            City is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Postal Code</mat-label>
        <input matInput formControlName="zip" #postalCode maxlength="4" [(ngModel)]="zip" placeholder="Ex. 1000" value="1000">
        <mat-error *ngIf="zipFormControl.hasError('required')">
            Zip code is <strong>required</strong>
        </mat-error>
    </mat-form-field>


    <agm-map class="full-width" style="margin-top: 20px; margin-bottom: 20px;" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">

        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>

    </agm-map>

    <button style="margin-top: 40px; color: #fb0000; font-size: 28px; padding: 10px 20px;" mat-raised-button type="submit">Buy Now</button>
</form>




<!-- <h1>Angular Google Map with Search Box Example - ItSolutionStuff.com</h1> -->



<!-- <div class="form-group">

        <label>Enter address</label>

        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>

    </div> -->



<!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">

        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>

    </agm-map> -->



<!-- <h5>Address: {{address}}</h5>

    <div>Latitude: {{latitude}}</div>

    <div>Longitude: {{longitude}}</div>

    <h5>Address: {{address2}}</h5>

    <div>Latitude: {{zip}}</div>

    <div>Longitude: {{phone}}</div> -->






<!-- <br/>
<br/>
<br/>
<br/>
<br/>

<div id="locationField">
    <input type="text" id="autocomplete" placeholder="Search Location" ngx-google-places-autocomplete (onAddressChange)="placeChangedCallback($event)" />
</div>
<table id="address">
    <tr>
        <td class="label">Street Address</td>
        <td class="slimField">
            <input class="field" [(ngModel)]="street_number" disabled="true" />
        </td>
        <td class="wideField" colspan="2">
            <input class="field" [(ngModel)]="address" disabled="true" />
        </td>
    </tr>
    <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3">
            <input class="field" [(ngModel)]="city" disabled="true" />
        </td>
    </tr>
    <tr>
        <td class="label">State</td>
        <td class="slimField">
            <input class="field" [(ngModel)]="state" disabled="true" />
        </td>
        <td class="label">Zip code</td>
        <td class="wideField">
            <input class="field" [(ngModel)]="zip" disabled="true" />
        </td>
    </tr>
    <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3">
            <input class="field" [(ngModel)]="country" disabled="true" />
        </td>
    </tr>
</table>


<br/>
<br/>
<br/>
<br/>
<br/> -->



<!-- <mat-form-field>
    <mat-label>Address using the directive</mat-label>
    <input matInput matGoogleMapsAutocomplete [country]="de" (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)">
</mat-form-field>

 -->

<!-- <div class="container" fxLayout="column" fxLayoutAlign="center">

    <div fxFlex>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
    </div>

    <div fxFlex fxFlexAlign="center" class="autocomplete-container" [ngStyle.xs]="{'min-width.%': 100}" [ngStyle.sm]="{'width.%': 70}">
        <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)" (onGermanAddressMapped)="onGermanAddressMapped($event)">
        </mat-google-maps-autocomplete>
    </div>

</div> -->