html {

	box-sizing: border-box;
	--bgColorMenu : #1d1d27;
	--duration: .7s;
}

html *,
html *::before,
html *::after {

	box-sizing: inherit;

}

body{
	
	margin: 0 auto;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #ffb457;
	-webkit-tap-highlight-color: transparent;
	transition: background-color var(--duration);
	font-size: 18px;

}

:root {
    --selectPanelCityMargin: 0px;
    --selectPanelBackgroundColor: yellow;
}

.mat-select-panel-home-city {
	margin-top: var(--selectPanelCityMargin) !important;
	background: var(--selectPanelBackgroundColor);
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 992px) { 
	body{
		font-size: 26px;
	
	}

	.content {
		margin: auto auto auto 80px;
	}

	.arrow-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index:-1;
	  }
	  .left-arrow {
		/* border: 10px solid green; */
		grid-column: 0 / 1;
		width: 100%;
		height: 100%;
		justify-self: center;
		align-self: center;
	  }
	  .right-arrow {
		/* border: 10px solid black; */
		grid-column-start: 1;
		grid-column-end: 2;
		width: 100%;
		height: 100%;
		justify-self: center;
		align-self: center;
	  }
}


.owl-carousel, .owl-carousel .owl-item {
    position: initial;
}