/*! purgecss start ignore */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {

	box-sizing: border-box;
	--bgColorMenu : #92cfff;
	--duration: .7s;
}

html *,
html *::before,
html *::after {

	box-sizing: inherit;

}

@font-face {
	font-family: 'Soria';
	font-style: normal;
	font-weight: normal;
	src: local('Soria'), url('assets/fonts/soria-font.ttf') format('truetype');
	font-display: swap;
  }

body{
	
	margin: 0 auto;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #ffb457;
	-webkit-tap-highlight-color: transparent;
	transition: background-color var(--duration);
	font-size: 18px;
	font-family: 'Soria', serif;
}

:root {
    --selectPanelCityMargin: 0px;
    --selectPanelBackgroundColor: yellow;
}

.mat-select-panel-home-city {
	margin-top: var(--selectPanelCityMargin) !important;
	background: var(--selectPanelBackgroundColor);
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 992px) { 
	body{
		font-size: 26px;
	
	}

	.content {
		margin: 0 auto;
		height: 100%;
	}
	  .owl-item {
		  height: 1200px !important;
	  }
}


.owl-carousel, .owl-carousel .owl-item {
    position: initial;
	margin: 0 auto;
	padding: 0 0 0 0;
}
/*! purgecss end ignore */