/*! purgecss start ignore */
/* .product-article:hover .img-result {
    visibility: visible;
    opacity: 1;
    position: relative;
    display: block;
}
.img-result {
    position: absolute;
    display: none;
    text-align: center;
    min-width: 100%;
    margin: auto;
    z-index: 101;
} */
.img-zoom-container {
    position: relative;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid black;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
  }
  @media (min-width: 993px) { 
    .overlay{ 
        min-width: 60vw;
    min-height: 90vh;
    margin-left: 30vw;
    margin-top: -200px;
    }
}
@media (max-width: 992px) { 
    .overlay{ 
        min-width: 410px;
    min-height: 410px;
    margin-top: 420px;
    }
}
.overlay{
    position:absolute;
    background:#000;
    opacity: 0;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    display: none;
    visibility: hidden;
    border-radius: 30px;
    transition: opacity 0.5s linear, visibility 0.5s linear;
  }
  .img-zoom-container:hover .overlay {
      display: block;
      opacity: 1;
      visibility: visible;
      border: 10px solid rgba(0, 0, 0, 0.87);
  }
  .overlay:hover {
      display: none;
      visibility: hidden;
      opacity: 0;
  }
  .img-zoom-container:hover {
    border: 10px solid rgba(0, 0, 0, 0.87);
    border-radius: 30px;
}

  /*! purgecss end ignore */