.mobile-apps-container {
    width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        flex-direction: row;
        margin-top: 30px;
        border-radius: 40px;
}
.play-store {
    order: 1;
    align-self: flex-start;
    text-align: center;
vertical-align: middle;
}
.app-store {
    order: 2;
    align-self: flex-start;
    text-align: center;
    vertical-align: middle;
}
.mobile-apps {
        text-align: center;
        padding: 10px;
        max-width: 100%;
}
.playstore-appstore-logo {
    width: 50%;
    margin-top: 100px;
}
.apps-title {
    font-size: 100px;
    margin-bottom: 30px;
    font-family: 'Soria', serif;
}
.font2-apps {
    font-size: 70px;
}
.div-apps-title {
    position: relative;
    margin-top: 10px;
}
.div-apps-title::after {
    content: "";
    font-size: 100px;
    margin: 0 auto;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 1px;
  width: 45vw;
  border-radius: 110px;
  background-color: #fafafa;
  color: #fafafa;
}
.div-apps-title::before {
    content: "";
    font-size: 100px;
    margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 45vw;
  border-radius: 110px;
  background-color: #fafafa;
  color: #fafafa;
}

@media (max-width: 992px) { 
    .mobile-apps-container {
            flex-direction: column;
            border: none;
    }
    .playstore-appstore-logo {
        width: 80%;
        margin-top: 30px;
    }
    .apps-title {
        font-size: 28px;
    }
    .font2-apps {
        font-size: 17px;
    }
    .div-apps-title {
        position: relative;
        margin-top: 0px;
    }
    .div-apps-title::after {
      height: 0px;
    }
    .div-apps-title::before {
        width: 20vw;
      }
      .app-store {
        position: relative;
    }
    .app-store::after {
        content: "";
        font-size: 100px;
        margin: 0 auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      width: 27vw;
      border-radius: 110px;
      background-color: #fafafa;
      color: #fafafa;
    }
}