<h1 class="apps-title" style="font-weight: 900; text-align: center;">WE ARE AVAILABLE ON PLAY STORE AND APP STORE</h1>
<div class="mobile-apps-container">
    <div class="play-store">
        <a href="#">
                      <img class="playstore-appstore-logo" src="../../../assets/images/google-play-mobile-app.webp"/>
 </a>
    </div>
    <div class="app-store">
        <a href="#">
            <img class="playstore-appstore-logo" src="../../../assets/images/app-store-mobile-app.webp"/>
        </a>
    </div>
</div>