<footer class="footer">
    <div class="why-us">
        <h4 class="footer-items">WHY US</h4>
        <h6>We are AK store! We are 24/7 open! We deliver strait to your door with kargo. Our products are top quality handmade made with love.</h6>
    </div>
    <div class="links">
        <h4 class="footer-items">LINKS</h4>
        <h6>Example.com/shop</h6>
        <h6>Example.com/products</h6>
        ...
    </div>
    <div class="social">
        <h4 class="footer-items">SOCIAL LINKS</h4>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-pinterest"></a>
    </div>
</footer>