<mat-form-field class="full-width" appearance="fill">
         <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let product_name of searchProduct"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(product_name)">
            {{product_name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-form-field class="searchForm" appearance="outline">
            <mat-label for="inputProduct">Start Typing Keywords...</mat-label>
          <input id="inputProduct"
            matInput
            #productInput
            [formControl]="productCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
          </mat-form-field>
        </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option class="mp-sp" *ngFor="let product of filteredProducts | async" [value]="product.name">
      <div class="img-div" *ngFor="let image of product.images; let index = index">
        <img *ngIf="index < 5" class="option-img" aria-hidden [src]="image.src" height="100">
      </div>
      <span>{{product.name}}</span> <br/> <span>{{product.short_description}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>