.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    /* border: 10px solid green; */
  }
  
  .option-img {
    vertical-align: middle;
    margin-right: 50px !important;
    border-radius: 100% !important;
  }

  .mat-input-class {
      border-radius: 50px;
  }

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 200px !important;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
}

.mat-option {
    margin: 20px 0px 20px 20px;
    border-radius: 50px;
    color: black;
    background-color: transparent;
    font-size: 28px;
    font-family: Soria, Roboto, "Helvetica Neue", sans-serif;
    height: 200px !important;
}

.mat-autocomplete-panel {
    max-height: 500px !important;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
    border-radius: 50px;
}

.mat-autocomplete-panel-above .mat-autocomplete-panel {
    border-radius: 50px !important;
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-label {
    
    color: rgba(0, 0, 0, 0.87);
    font-size: 28px !important;
    margin-left: 15px !important;
}

.mat-focused .mat-form-field-label{ 
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px !important;
    margin-left: 20px !important;
}

input.mat-input-element {
    font-size: 28px;
    padding: 17px 17px !important;
}
.img-div {
    all: unset;
}
.mat-standard-chip {
    font-size: 27px;
    background-color: floralwhite !important;
    height: 70px !important;
    border-radius: 100% !important;
    cursor: pointer;
}